{% for question in questions %}
<div class="question">
    <h2>{{ question.text }}</h2>
    {% if question.image %}
    <img src="{{ question.image.url }}" alt="Question Image">
    {% endif %}
    <ul>
        {% for option in question.options.all %}
        <li>
            <label>
                <input type="radio" name="question_{{ question.id }}" value="{{ option.id }}">
                {% if option.text %}
                {{ option.text }}
                {% endif %}
                {% if option.image %}
                <img src="{{ option.image.url }}" alt="Option Image">
                {% endif %}
            </label>
        </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
